/* nav-container-starts*/

.nav-container{
    display: flex;
    justify-content: space-between;
    margin: 70px 200px;
    

}
.logo h1{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #FD6F00;
    font-size: 36px
    ;
}
.nav-items {
    display: flex;
    gap: 12px;
    font-size: 21px;
    color: white;
    align-items: center;
}
.nav-items h3 {
    font-weight: 400;
}

.Download-cv {
    background-color: #FD6F00;
    height: 52px;
    width: 188px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* nav-container-ends*/



/* banner-img-container starts */

.banner-img-intro h1{
    font-size: 40px;
    font-weight: 800;
    color: white;
    text-transform: capitalize;

}
.colour-full-text{
    color: #FD6F00;
}

.banner-img-desc p{
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    ;
}
.banner-img-skills{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-img-skills h3{
    font-size: 24px;
    font-weight: 300;
    color: white;
    padding: 15px 0px;
    align-items: center;
}
.banner-img-button h3{
    font-weight: 400;
    font-size: 26px;
    background-color: transparent;
}
.banner-img-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 367px;
    height: 82px;
    border-radius: 50px;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    gap: 10px;
    padding: 10px;
    border: 2px solid white;
    margin: 20px 0px;

}

.banner-img-button-area h3{
    font-weight: 400;
    font-size: 26px;
    background-color: #FD6F00;
}
.check-icon{
    height: 30px;
    width: 30px;
    background-color: #FD6F00;
    
}
.banner-img-button-area{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FD6F00;
    height: 62px;
    width: 208px;
    border-radius: 60px;
    color: white;
    padding: 10px 20px;

}
.banner-link-icon{
    width: 33px;
    height: 33px;
    color:rgba(255, 255, 255, 0.5);
    font-size: 30px;
}

.banner-link-icons{
    display: flex;
    justify-content: space-between;
    width: 205px;
    height: 32px;
}

.banner-img-container{
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
    margin-top: 70px;
    padding-top: 50px;
}
.banner-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-background{
    position: relative;
}
.my-img{
    position: absolute;
    top: 3cm;
    border-radius: 270px;
    background-color: transparent;
}

/* banner-img-container ends */

/* banner-line-container starts */

.banner-line-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 147px;
    transform: rotate(-3.97deg);
    margin-top: -80px;
    margin-bottom: 70px;
}
.banner-line-container h3{
    font-weight: 400;
    font-size: 32px;
    background-color: black;
    color: white;
    
}

/* banner-line-container ends */


@media only screen and (max-width: 768px) {
    .nav-container {
    flex-direction: column;
    margin: 20px;
    }
    .nav-items {
        flex-direction: column;
        gap: 0;
    }
    .Download-cv {
        width: 100%;
        height: auto;
    }
    .banner-img-intro h1 {
        font-size: 30px;
    }
    .banner-img-skills h3 {
        font-size: 20px;
    }
    .banner-img-button {
        width: 100%;
        height: auto;
    }
    .banner-img-button-area {
        width: 100%;
        height: auto;
    }
    .banner-link-icons {
        width: 100%;
        height: auto;
    }

    .banner-img-container {
        margin: 0 20px;
    }
    .my-img {
        top: 1.5cm;
    }
    .banner-line-container {
        height: 100px;
        margin-top: -40px;
        margin-bottom: 40px;
        transform: rotate(0deg);
    }
}